{% extends 'layout.html' %}

{% block content %}
  
  <hr/>
  <h3>로그인</h3>
  <br/>
  <form action="/user/handleLogin" method="post">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">ID</span>
      <input type="text" class="form-control" placeholder="UserID" aria-label="UserID" aria-describedby="basic-addon1" name="id">
    </div>
    <!-- id 중복확인 -->
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">PW</span>
      <input type="password" class="form-control" placeholder="User PW" aria-label="User PW" aria-describedby="basic-addon1" name="pw">
    </div>
    <!-- pw 확인 -->
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>

{% endblock %}